*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
    
}

html{
    /* 10px a cada 1rem*/
    font-size: 62.5%;
    
}

html, body{
    height: 120vh;
    width: 100vw;
    
    /* min-height: 390px;
    min-width: 356px; */
    background-color: #664986;
    
    
}

body{
    width: 100%;
    max-width: 100%;
    overflow-x: hidden;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: column;
    align-content: flex-start;

}


nav{
    
    height: 3.9vh;
    width: 100vw;
    color: #ffffff;
    background-color: #e2e8f0;
}

ul {
    
    height: 100%;    
    margin-left: 10px;
    
    /* padding-top: 10px;
    padding-right: 10px; */
}

li{
    height: 100%;
    display: flex;
    align-items: center;
    font-size: 5px !important;
}

.nav-link {
    text-decoration: none !important;
    color: #70757a !important;
    font-size: 1.6rem;
}

.nav-text{
    font-size: 0.8rem;
}

main{
    height: 80vh;
    width: 80vw;    
    min-height: 390px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: column;    
    margin-top: 50px;
}

.section-img-logo{
    /* margin-bottom: 40px; */
    width: 100vw;
    height: 13.5vh;
    float: top;
    
}

.section-form {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
    width: 100%;
    /* max-width: 24vw; */
    /* min-width: 280px; */
    height: 100%;
    background-color: #ffffff;
    border-radius: 8px;
    
    
}

#nome7{

    height: 67%;

}

.container-title-form-top{
    height: 25%;
    display: flex;
    align-items: center;  
    
}

.title-form-top{
    float: top;
    height: 20%;
    font-weight:lighter;
    color: #664986;
    
}

.title-footer-form{
    height: 30%;
    font-size: 1.4rem;
    
}


form{
    
    justify-content: center;
    align-items: center;
    height: 60%;
    width: 80%;
    
}

.container-footer-form{
    height: 15%;
    background-color: #f5f5f5;
    width: 100%;
    display: flex;
    align-items: center !important;
    justify-content: center !important;
    border-top: 1px solid #ddd;
    border-bottom-left-radius: 8px;
    border-bottom-right-radius: 8px;
}

a{
    text-decoration: none;
    color: #664986;
    display: flex;
    justify-content: center;
    width: 100%;
}

a:link, a:visited {    
    text-decoration: none;
    cursor: pointer;
  }

span{
    text-decoration:underline;
    
}

.icon{
    color: #664986;
}

.container-forgot-password{
    height: 8%;
    width: 25%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1.2rem;
}

.forgot-password {
    color: #ffffff;
}
a:hover{
    text-decoration: none !important;
    color: #664986;
}

.container-input-search{
    justify-content: center; 
    margin-bottom: 20px;
    
}

.input-search{
    border-radius: 24px;
    height: 50px;
    
}

.container-button{
    display: flex; 
    justify-content: center;
    align-items: center;
    height: 60px;
    
    
}

.button-search{
    margin-right: 15px;
    /* background-color: #D3D3D3 !important; */
    height: 70%;
    width: 150px;
    
    border: none;
    font-size: 5.6rem;
    border-radius: 6px;
    

}

.button-login{
    font-size: 1.6rem;
    background-color: #60467e;

}

.button-login:hover{
    background-color: #60467e;

}

.btn{
    transition: 0s;
}

.container-button-login{
    height: 15%;
    display: flex;
    align-items: center;

}


.button-search:hover{

    border: 1px solid #d3d3d3 !important; 
    cursor: pointer;
    

}

.button-sorte{
    /* background-color: #D3D3D3 !important;    */
    border: none;
    height: 70%;
    width: 150px;
    font-size: 2.6rem;
    border-radius: 6px;
    
  

}

.button-sorte:hover{

    border: 1px solid #d3d3d3 !important; 
    outline: 0 !important;
    box-shadow:none !important;
    outline: none !important;
    cursor: pointer;
    
  

}



input:hover{

    box-shadow: 0 0 1em #70757a;
}




.footer{
    background-color: #f8f8f8; 
    min-width: 320px;
    font-size: 1.6rem;
    width: 100vw;
}

.container-title-brasil{
    display: flex; 
    justify-content: flex-start; 
    padding: 10px; 
    color: #70757a;
}


.title-brasil{
    margin-left: 5vh;
}

.container-other-titles{
    display: flex; 
    flex-direction: row; 
    padding: 10px; 
    border-top: 1px solid #D3D3D3; 
    background-color: #f8f8f8;
}

.container-other-titles-row{
    width: 100%;
}


#nome1{
    display: flex; 
    align-items: center;
}

#nome2{
    color:black; 
    text-decoration: none;
}

#nome3{
    width: 80vw;
}

#nome4{
    display: flex; 
    justify-content: center; 
    width: 100vw;
}

#nome6{
    margin-left: 10px;
}



@media screen and (max-width: 800px) {

    .como-funciona-a-pesquisa{

        display: none;

    }
    
}

@media screen and (max-width: 576px) {

    
    
    
}

@media only screen and (orientation: landscape) and (max-height: 540px) {

    body{
        height: 180vh;
    }

    
    
}

