*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
        
}

html{
    /* 10px a cada 1rem*/
    font-size: 62.5%;
    
}

html, body{
    
    height: 100vh;
    width: 100vw;   
    background-color: #664986;
    min-width: 224px;
    overflow-x: hidden;
    
    
}

body{
    
    
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: column;
    align-content: flex-start;

}


nav{
    
    height: 6vh;
    min-height: 30px;
    width: 100vw;
    min-width: 224px;
    color: #ffffff;
    background-color: #e2e8f0;
    font-size: 12px;
}

ul {
    
    height: 100%;    
    margin-left: 10px;
    
   
}

li{
    height: 100%;
    display: flex;
    align-items: center;
      
}

.nav-link {
    text-decoration: none !important;
    color: #70757a !important;
    font-size: 1.6rem;
}

.nav-text{
    font-size: 1.2rem;
}

main{
    height: 110vh;
    min-height: 627px;
    width: 100vw;        
    display: flex;
    align-items: center;    
    flex-direction: column;    
    margin-top: 70px;
    
}

.section-img-logo{
    
    width: 100vw;
    min-height: 140px;
    float: top;
    
}

.section-form {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;        
    width: 430px;    
    min-width: 224px;
    height: 443.5px;
    min-height: 443.5px;
    background-color: #ffffff;
    border-radius: 8px;
    
}


.container-title-form-top{
    height: 25%;
    width: 80%;
    display: flex;
    align-items: center;  
    justify-content: center;
    text-align: center;
    
}

.title-form-top{
    float: top;
    height: 35%;
    width: 80%;
    font-weight: 200;
    color: #664986;
    font-size: 2.6rem;
    font-family: inherit;
    
}

.title-footer-form{
    height: 30%;
    font-size: 1.8rem;
    
}

#basic-addon1{
    width: 40px; 
    display: flex; 
    justify-content: center;
    background-color: #ffffff;
}

.span{
    font-size: 14px;
}

.span-new-to-heroku{
    margin-left: 10px;
}

.span-heroku-is-a{
    height: 30px;
    text-decoration: none;
}

.span-svg{
    height: 70px;
}

.svg{
    padding-left: 10px; 
    padding-right: 10px;
}

.span-company{
    height: 30px;
    text-decoration: none;
}

.row-footer{
    justify-content: center;
}

.row-salesforce{
    justify-content: center;
}

form{
    
    justify-content: center;
    align-items: center;
    height: 60%;
    width: 80%;
    font-size: 1.4rem;
    
}

.form-label{
    color: #62748e;
    font-size: 12px;
    font-weight: bold;
}

input{
    height: 44px;
}

.container-footer-form{
    height: 15%;
    background-color: #f5f5f5;
    width: 100%;
    display: flex;
    align-items: center !important;
    justify-content: center !important;
    border-top: 1px solid #ddd;
    border-bottom-left-radius: 8px;
    border-bottom-right-radius: 8px;
}

a{
    text-decoration: none;
    color: #664986;
    display: flex;
    justify-content: center;
    width: 100%;
}

a:link, a:visited {    
    text-decoration: none;
    cursor: pointer;
  }

span{
    text-decoration:underline;
    
}

.icon{
    color: #664986;
    font-size: 14px;
}

.container-forgot-password{
    height: 8%;    
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1.2rem;
}

.forgot-password {
    color: #ffffff;
}

a:hover{
    text-decoration: none !important;
    color: #664986;
}



.container-button{
    display: flex; 
    justify-content: center;
    align-items: center;
    height: 60px;
    
    
}

.button-login{
    font-size: 2.0rem;
    background-color: #60467e;
    height: 45px;
    border-radius: 6px;
    color: #ffffff;

}


.btn{
    transition: 0s;
}

.container-button-login{
    height: 15%;
    display: flex;
    align-items: center;

}


.footer{
    
    font-size: 1.6rem;
    width: 100vw;
    min-width: 224px;
    height: 188px;
    min-height: 188px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    float: bottom;
}

input:focus { 
    outline: none !important;
    border-color: #664986 !important;
    box-shadow: none !important;
    
}

button:hover{
    background-color: #664986 !important;
    color:#ffffff !important;
}

button{
    background-color: #664986;
}

#salesforce-developers-svg{
    display: flex; 
    align-items: center;
    font-size: 20px;
}

#barra-invertida{
    color:black; 
    text-decoration: none;
}


#imagem-heroku{
    display: flex; 
    justify-content: center; 
    width: 100vw;
}

#forgot-your-password{
    margin-left: 10px;
}

.nav-text-white{
    color: #ffffff !important;
    font-size: 1.4rem;
}

#heroku-is-a{
    height: 60px;
    display: flex;
    align-items: center;
}


@media screen and (max-width: 767px) {
    .section-form{
        width: 300px;        
    }

        
}

@media screen and (max-width: 600px) {

    .section-form{
        width: 283.83px;
        
    }
    
}

@media screen and (max-width: 314px) {

    .section-form{
        width: 80vw;
        
    }
    
}

@media only screen and (orientation: landscape) and (max-height: 540px) {
  
    
}

